<div class="container mx-auto mt-8 px-4">
  <h2 class="text-2xl font-semibold text-center mb-6 leading-relaxed">Mis Tareas</h2>

  <div class="flex flex-col gap-4"></div>
    <input type="text" [(ngModel)]="searchTerm" 
      placeholder="Buscar tareas..." 
      class="w-full p-2 border border-gray-300 rounded-lg"
    />
    <br><br>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 overflow-y-auto max-h-96">
    <div *ngFor="let task of filterTasks()"
      class="relative bg-white shadow-lg rounded-lg overflow-hidden p-4 hover:shadow-xl hover:scale-105 transition-transform duration-300 ease-in-out">
      
      <button (click)="deleteTask(task.id)"
        class="absolute top-2 right-2 text-red-500 hover:text-red-700 text-2xl transition-colors duration-200">
        &times;
      </button>

      <div class="flex flex-col">
        <span class="text-lg font-medium mb-2">{{ task.title }}</span>
        <span class="text-gray-500 text-sm">{{ task.dueDate | date }}</span>

        <button (click)="viewTaskDetails(task)"
          class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition-colors duration-200">
          Ver detalles
        </button>

        <button (click)="openTaskForm(task)"
          class="mt-2 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700 transition-colors duration-200">
          Editar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal de detalles de tarea -->
  <app-task-detail-modal 
      *ngIf="isViewing" 
      [task]="selectedTask" 
      (close)="closeModal()">
  </app-task-detail-modal>

  <!-- Modal de edición de tarea -->
  <div *ngIf="isEditing" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
    <div class="relative bg-white rounded-lg shadow-lg p-4 w-full max-w-sm max-h-96 overflow-y-auto">
      <button (click)="closeModal()"
        class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 text-2xl transition-colors duration-200">
        &times;
      </button>
      
      <!-- Llamamos al TaskFormComponent -->
      <app-task-form 
        [task]="selectedTask" 
        (taskSaved)="onTaskSaved($event)"
        (close)="closeModal()">
      </app-task-form>
    </div>
  </div>

